body {
    background-image: url('./15356062_SL_050721_42770_03.jpg');
    background-size: cover; /* Ensures the image covers the entire viewport */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
}


.box {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    height: 100vh; /* Full viewport height */
    text-align: center; /* Center text inside the elements */
}

h1 {
    margin: 0; /* Remove default margin */
    font-size: 110px;
    color: white;
}

p {
    margin-top: 20px; /* Optional: add space between <h1> and <p> */
    font-size: 70px;
    font-family:'Qwitcher Grypen', Courier;
    font-weight: bolder;
    color:aqua;

}
